* {
  margin: 0;
  font-family: "Work Sans";
}
/* header section */
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 180px;
  height: 75px;
  left: 1100px;
  top: 578px;
  border-radius: 10px;
  border: 0;
  color: #005fac;
  margin-right: 200px;
}
.banner {
  text-align: right;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: white;
  text-align: right;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-left: 1000px;
  padding-right: 200px;
}
.banner-para {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-left: 1200px;
  padding-right: 180px;
}
.header {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 970px;
}

/* main section */
.failure {
  display: flex;
  align-items: center;
  margin: 150px 400px;
}
.main-title {
  color: black;
  font-weight: 700;
  font-size: 40px;
  padding-left: 100px;
  text-align: left;
  padding-bottom: 250px;
}
.main-para {
  position: absolute;
  width: 416px;
  height: 104px;
  left: 862px;
  top: 1296px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 130px;
  padding-left: 200px;
  color: #444343;
}
.info {
  list-style: none;
  position: absolute;
  width: 416px;
  height: 104px;
  left: 862px;
  top: 1296px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 250px;
  padding-left: 200px;
  color: #444343;
}
.info img {
  width: 20px;
}
